.grid-container {
  display: grid;
  grid-template-areas: 
      'TreeView RussianGlossary'
      'ErrorTable RussianGlossary';
      grid-gap: 15px;
      grid-template-columns: 570px 570px;
      grid-template-rows: 500px 400px;
}
.item {
  padding: 10px;
  border: 1px solid rgb(60, 60, 60);
  overflow: scroll; 
}

.item::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color:  #f9f9fd;
}

.item::-webkit-scrollbar-thumb {
  background-color: #8a8a8a;
  border-radius: 10px;
}

.ErrorTable {
  grid-area: ErrorTable;
}
.RussianGlossary {
  grid-area: RussianGlossary;
}
.TreeView {
  grid-area: TreeView;
}

::-webkit-scrollbar {
  width: 0;
}
