.grid-container {
  display: grid;
  grid-template-areas: 
      'TreeView RussianGlossary'
      'ErrorTable RussianGlossary';
      grid-gap: 15px;
      grid-template-columns: 570px 570px;
      grid-template-rows: 500px 400px;
}
.item {
  padding: 10px;
  border: 1px solid black;
  overflow: scroll; 
}

.ErrorTable {
  grid-area: ErrorTable;
}
.RussianGlossary {
  grid-area: RussianGlossary;
}
.TreeView {
  grid-area: TreeView;
}
